<br>
<br>
<title>Add Employee</title>
<form #Addemployee = "ngForm" (ngSubmit)= "onAdd(Addemployee.value)">
  <div>
    <label for="name">Employee Name:</label>
    <input ngModel name="name" type="text" id= "name" minlength="3" required
    title = "Alphabets Only" pattern= "[a-zA-Z]+[\sa-zA-Z]+">
  </div>
  <div>
    <label for="location">Location:</label>
    <select ngModel name="location" id= "location" minlength="3" required
    title="Only Alphabets" > 
      <option value="Bangalore">Bangalore</option>
      <option value="Chennai">Chennai</option>
      <option value = "Pune">Pune</option>
      <option value = "Hyderabad">Hyderabad</option>
    </select>
  </div>
  <div>
    <label for="email">Email:</label>
    <input ngModel name="email" type="email" id="email"  required 
    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
  </div>
  <div>
    <label for="mobile" >Mobile:</label>
    <input ngModel name="mobile" type="text" id="mobile" title="Numbers only" pattern="[0-9]{10}" required> <br><br>
  </div>
  <div>
    <button type= "submit" [disabled]="Addemployee.form.invalid"
    id="add" style="margin-left:40%" 
    >Submit</button>
  </div>
</form>